.git
.venv
venv
local_only
models
videos
NEXORA-CCTV-CORE-AI
__pycache__
**/__pycache__
**/*.mp4
**/*.avi
**/*.mov
**/*.mkv
**/*.webm
**/*.pt
**/*.onnx
**/*.pth
**/*.pkl
**/*.joblib
**/*.npz
**/face_db*
**/*.zip
**/.env
app/features/seizure
Ultralytics
docker_images
**/*.tar
**/*.tar.gz
**/.env.*
